<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_BUGS}</h2>

    <div class="body">
        <h:form id="addBug"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel for="id" value="ID:"/>
                    <h:inputText id="id" disabled="true" value="#{bug.id}"/>
                    <h:message for="id" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="applicant" value="Zgłaszający:"/>
                    <h:inputText id="applicantView" disabled="true" value="#{viewHelper.loggedUser.displayName}"/>
                    <h:selectOneMenu id="applicant" value="#{bug.applicant}" styleClass="hidden">
                        <f:selectItem itemValue="#{viewHelper.loggedUser.login}"/>
                    </h:selectOneMenu>
                    <h:message for="applicant" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <h:selectOneMenu id="responsible" value="#{bug.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <h:inputText id="title" value="#{bug.title}"/>
                    <h:message for="title" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="openingDate" value="Data zgłoszenia:"/>
                    <h:inputText id="openingDate" disabled="true" value="#{bug.openingDate}">
                        <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="openingDate" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <h:inputTextarea id="description" rows="9" value="#{bug.description}"/>
                    <h:message for="description" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <h:selectOneMenu id="status" value="#{bug.status}">
                        <f:selectItems value="#{viewHelper.statusesForBug}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <h:selectOneMenu id="priority" value="#{bug.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="project" value="Projekt:"/>
                    <h:selectOneMenu id="project" value="#{bug.project}">
                        <f:selectItems value="#{viewHelper.projects}"/>
                    </h:selectOneMenu>
                    <h:message for="project" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="projectModule" value="Moduł projektu:"/>
                    <h:selectOneMenu id="projectModule" value="#{bug.projectModule}">
                        <f:selectItems value="#{viewHelper.projectModules}"/>
                    </h:selectOneMenu>
                    <h:message for="projectModule" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="projectVersion" value="Wersja projektu:"/>
                    <h:selectOneMenu id="projectVersion" value="#{bug.projectVersion}">
                        <f:selectItems value="#{viewHelper.projectVersions}"/>
                    </h:selectOneMenu>
                    <h:message for="projectVersion" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="operatingSystem" value="System operacyjny:"/>
                    <h:selectOneMenu id="operatingSystem" value="#{bug.operatingSystem}">
                        <f:selectItems value="#{viewHelper.operatingSystems}"/>
                    </h:selectOneMenu>
                    <h:message for="operatingSystem" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="browser" value="Przeglądarka:"/>
                    <h:selectOneMenu id="browser" value="#{bug.browser}">
                        <f:selectItems value="#{viewHelper.browsers}"/>
                    </h:selectOneMenu>
                    <h:message for="browser" errorClass="formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton id="save" action="#{addEvent.addBug}" value="Zapisz"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
