<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_CHANGES}</h2>

    <div class="body">
        <h:form id="addChange"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel for="id" value="ID:"/>
                    <h:inputText id="id" disabled="true" value="#{change.id}"/>
                    <h:message for="id" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="applicant" value="Zgłaszający:"/>
                    <h:inputText id="applicantView" disabled="true" value="#{viewHelper.loggedUser.displayName}"/>
                    <h:selectOneMenu id="applicant" value="#{change.applicant}" styleClass="hidden">
                        <f:selectItem itemValue="#{viewHelper.loggedUser.login}"/>
                    </h:selectOneMenu>
                    <h:message for="applicant" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <h:selectOneMenu id="responsible" value="#{change.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <h:inputText id="title" value="#{change.title}"/>
                    <h:message for="title" errorClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="openingDate" value="Data otwarcia:"/>
                    <h:inputText id="openingDate" disabled="true" value="#{change.openingDate}">
                        <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="openingDate" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <h:inputTextarea id="description" rows="9" value="#{change.description}"/>
                    <h:message for="description" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <h:selectOneMenu id="status" value="#{change.status}">
                        <f:selectItems value="#{viewHelper.statusesForChange}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <h:selectOneMenu id="priority" value="#{change.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="startDate" value="Data początku wdrożenia:"/>
                    <h:inputText id="startDate" value="#{change.startDate}">
                        <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="startDate" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="endDate" value="Data końca wdrożenia:"/>
                    <h:inputText id="endDate" value="#{change.endDate}">
                         <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="endDate" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="acceptance" value="Tryb akceptacji:"/>
                    <h:selectOneMenu id="acceptance" value="#{change.acceptance}">
                        <f:selectItems value="#{viewHelper.acceptances}"/>
                    </h:selectOneMenu>
                    <h:message for="acceptance" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="cancelDescription" value="Plan wycofania:"/>
                    <h:inputTextarea id="cancelDescription" rows="9" value="#{change.cancelDescription}"/>
                    <h:message for="cancelDescription" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="riskDescription" value="Opis ryzyk:"/>
                    <h:inputTextarea id="riskDescription" rows="9" value="#{change.riskDescription}"/>
                    <h:message for="riskDescription" styleClass="error formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton id="save" action="#{addEvent.addChange}" value="Zapisz"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
