<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_INCIDENTS}</h2>

    <div class="body">
        <h:form id="addIncident"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel for="id" value="ID:"/>
                    <h:inputText id="id" disabled="true" value="#{incident.id}"/>
                    <h:message for="id" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="applicant" value="Zgłaszający:"/>
                    <h:inputText id="applicantView" disabled="true" value="#{viewHelper.loggedUser.displayName}"/>
                    <h:selectOneMenu id="applicant" value="#{incident.applicant}" styleClass="hidden">
                        <f:selectItem itemValue="#{viewHelper.loggedUser.login}"/>
                    </h:selectOneMenu>
                    <h:message for="applicant" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <h:selectOneMenu id="responsible" value="#{incident.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <h:inputText id="title" value="#{incident.title}"/>
                    <h:message for="title" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="openingDate" value="Data otwarcia:"/>
                    <h:inputText id="openingDate" disabled="true" value="#{incident.openingDate}">
                        <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="openingDate" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <h:inputTextarea id="description" rows="9" value="#{incident.description}"/>
                    <h:message for="description" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <h:selectOneMenu id="status" value="#{incident.status}">
                        <f:selectItems value="#{viewHelper.statusesForIncident}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <h:selectOneMenu id="priority" value="#{incident.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="area" value="Obszar wystąpienia:"/>
                    <h:selectOneMenu id="area" value="#{incident.area}">
                        <f:selectItems value="#{viewHelper.areas}"/>
                    </h:selectOneMenu>
                    <h:message for="area" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="symptoms" value="Objawy:"/>
                    <h:inputTextarea id="symptoms" rows="9" value="#{incident.symptoms}"/>
                    <h:message for="symptoms" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="cause" value="Przyczyny:"/>
                    <h:inputTextarea id="cause" rows="9" value="#{incident.cause}"/>
                    <h:message for="cause" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="wayOfRepair" value="Sposób usunięcia:"/>
                    <h:inputTextarea id="wayOfRepair" rows="9" value="#{incident.wayOfRepair}"/>
                    <h:message for="wayOfRepair" errorClass="formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton id="save" action="#{addEvent.addIncident}" value="Zapisz"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
