/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}

:focus {
    outline: 0;
}

/* IE fixes */
* html .navigation, * html #footer, * html #splash {
    height: 0.01%;
}

* html #footer-left {
    width: 500px;
}

.navigation, #splash {
    min-height: 0.01%;
}

/* layout */
html {
    height: 100%;
    padding-bottom: 1px; /* force scrollbars */
}

body {
    background: #FFF;
    color: #444;
    font-style: normal;
    font-size: 75%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* elements */
#site-wrapper {
    margin: 0 auto;
    width: 920px;
}

#splash {
    padding: 10px 0 10px 0;
}

#header {
    padding-top: 5px;
}

#top {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

#logo {
    padding: 10px 40px 10px 0;
    margin-right: 40px;
}

/* navigation */
.navigation a {
    color: #888;
    text-decoration: none;
}

.navigation a:hover {
    color: #222;
}

.navigation li.current-tab a {
    color: #222;
}

ul.tabbed li {
    list-style: none;
    margin-top: 0;
    float: left;
}

ul.tabbed-small li {
    margin-bottom: 10px;
}

ul.tabbed-small li {
    border-right: 1px solid #ccc;
    padding: 0 5px;
}

ul.tabbed-small li.none {
    border-right: none;
}

ul.tabbed {
    display: inline;
    margin: 0;
}

#main-nav li:first-child, #sub-nav li:first-child {
    margin-left: 0;
}

#main-nav {
    padding-top: 72px;
}

#main-nav li {
    margin: 0 1.5em;
}

#main-nav a {
    color: #1b1;
    font-size: 1.8em;
    line-height: 2em;
    padding-bottom: 2px;
}

#main-nav li.current-tab a {
    color: #333;
}

#main-nav a:hover {
    color: #002;
}

#main-nav li.current-tab a {
    border-bottom: 2px solid #94CC5F;
}

/* links */
a:focus, a:hover {
    color: #039;
}

a {
    color: #456;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.more {
    color: #579;
    font-weight: bold;
    font-size: 12px;
}

a.more:hover {
    color: #234;
}

/* footer */
#footer {
    border-top: 1px solid #DDD;
    color: #777;
    padding: 16px 0 4px;
}

#footer-left {
    width: 459px;
}

#footer-left img {
    margin-right: 10px;
}

#footer-right {
    width: 459px;
    text-align: right;
}

#footer p {
    margin-bottom: 0.4em;
}

#footer .text-separator {
    padding: 0 3px;
    color: #BBB;
}

#footer a:hover {
    color: #000;
}

/* misc classes */
.bold {
    font-weight: bold;
}

.small {
    font-size: 0.9em;
}

.smaller {
    font-size: 0.8em;
}

.smallest {
    font-size: 0.7em;
}

.large {
    font-size: 1.15em;
}

.larger {
    font-size: 1.25em;
}

.largest {
    font-size: 1.35em;
}

.hidden {
    display: none;
}

.showed {
    display: inline;
}

.highlight, .highlight a {
    background: #ff0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-separator {
    padding: 0 5px;
}

.left, .alignleft {
    float: left;
}

.right, .alignright {
    float: right;
}

.clear, .clearer {
    clear: both;
}

.clearer {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
}

/* information */
.error, .notice, .success {
    border: 1px solid #DDD;
    margin-bottom: 1em;
    padding: 0.6em 0.8em;
}

.error {
    background: #FBE3E4;
    color: #8A1F11;
    border-color: #FBC2C4;
}

.error a {
    color: #8A1F11;
}

.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

.notice a {
    color: #514721;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

.success a {
    color: #264409;
}

/* columns */
.col3, .col3-mid {
    width: 31%;
}

.col3 li, .col3-mid li {
    font-size: 14px;
}

.col3 li span, .col3-mid li span {
    font-size: 12px;
    display: block;
}

.col3-mid {
    margin-left: 3%;
}

/* labels */
.label {
    border-left: 4px solid;
    margin-bottom: 0.2em;
    padding-left: 10px;
}

.label-blue {
    border-left-color: #55AADA;
}

.label-green {
    border-left-color: #B7D897;
}

.label-orange {
    border-left-color: #FA8F6F;
}

/* heading*/
h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.body {
    margin: 10px 0 10px 15px;
}

.body p {
    font-size: 1.4em;
    line-height: 200%;
}

.body form p label {
    display: inline;
    font-size: inherit;
}

ul.items {
    list-style-type: none;
    font-size: 1.2em;
}

ul.items li {
    padding: 4px 0;
}

.question {
    margin-bottom: 20px;
}

.question pre {
    font-size: 1.4em;
}

.question span {
    font-size: 1.1em;
    font-weight: bold;
}

.answers {
    margin: 20px 0 15px 0;
}

.answers .answer pre {
    font-size: 1.2em;
    font-style: italic;
}

.answers .answer span {
    font-size: 1.1em;
    font-weight: bold;
}

.body form {
    line-height: 250%;
}

.body form label {
    display: block;
    font-size: larger;
    font-weight: bold;
}

.body form textarea {
    width: 40%;
}

ul {
    list-style-type: none;
}

.inactiveElement, .inactiveElement a {
    text-decoration: line-through;
}

.strong, .strong a {
    font-weight: bold;
}

input.textSmall {
    background: #FCFCFC;
    border: 1px inset #AAA;
    margin: 0 0.5em;
}

/* columns */
.columnLeft {
    float: left;
    width: 44%;
    padding: 0 3%;
}

.columnRight {
    float: right;
    width: 44%;
    padding: 0 3%;
}

.columnLeft li, .columnRight li {
    padding: 0.75em 0;
}

.columnLeft label, .columnRight label {
    display: block;
    font-size: larger;
}

.columnLeft li span, .columnRight li span {
    font-size: larger;
}

.formTextHint {
    display: block;
    padding: 0 5px;
    font-size: smaller;
    line-height: 100%;
    color: #f00;
    background-color: inherit;
}

.columnLeft input, .columnRight input {
    width: 50%;
}

.body .columnLeft textarea, .body .columnRight textarea {
    width: 100%;
}

pre {
    margin: 0;
    padding: inherit;
    line-height: inherit;
}

table {
    width: 100%;
}

table th {
    padding: 2px;
    background-color: #191;
    color: #eee;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

table td {
    padding: 3px 5px;
    text-align: center;
}

.body .multi-select label, .body .multi-select input {
    float: none;
    display: inline;
    font-weight: normal;
}
