<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div id="footer">
        <div class="left" id="footer-left">
            <a href="#{URLS.URL_APPLICATION}" title="#{TEXTS.TEXT_APPLICATION_NAME}">
                <img src="#{resource['img:logo_small.png']}" alt="#{TEXTS.TEXT_APPLICATION_NAME}" class="left"/>
            </a>
            <p>#{TEXTS.TEXT_COPY_RIGHTS}</p>
            <p class="quiet">#{TEXTS.TEXT_ALL_RIGHTS_RESERVED}</p>
            <div class="clearer"></div>
        </div>
        <div class="right" id="footer-right"></div>
        <div class="clearer"></div>
    </div>
</ui:composition>
