<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="#{TEXTS.TEXT_APPLICATION_NAME}"/>
    <meta name="keywords" content="#{TEXTS.TEXT_APPLICATION_NAME}"/>
    <meta name="author" content="#{TEXTS.TEXT_AUTHOR}"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="#{resource['img:favicon.png']}"/>
    <link rel="icon" type="image/png" href="#{resource['img:favicon.png']}"/>
    <link rel="stylesheet" type="text/css" href="#{resource['style.css']}" media="screen"/>
    <script type="text/javascript" src="#{resource['scripts.js']}"></script>
    <title>#{TEXTS.TEXT_APPLICATION_NAME}</title>
</h:head>

<h:body>
    <div id="site-wrapper">
        <div id="header">
            <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
                <ul class="navigation tabbed tabbed-small left">
                    <li class="none"><a href="#{URLS.URL_ADMIN}">#{TEXTS.TEXT_ADMIN_LABEL}</a></li>
                </ul>
            </h:panelGroup>
            <ul class="navigation tabbed tabbed-small right">
                <li>
                    #{TEXTS.TEXT_LOGGED_AS}:
                    <a href="#{URLS.URL_USERS_SHOW}?id=#{viewHelper.loggedUser.id}" class="strong">#{viewHelper.loggedUser.login} (#{viewHelper.loggedUser.displayName})</a>
                </li>
                <li class="none bold"><a href="#{URLS.URL_LOGOUT}">#{TEXTS.TEXT_LOGOUT}</a></li>
            </ul>
            <div class="clear"></div>

            <div id="top">
                <div class="left" id="logo">
                    <a href="#{URLS.URL_APPLICATION}" title="#{TEXTS.TEXT_APPLICATION_NAME}">
                        <img src="#{resource['img:logo.png']}" alt="#{TEXTS.TEXT_APPLICATION_NAME}"/>
                    </a>
                </div>
                <div class="left navigation" id="main-nav">
                    <ul class="tabbed">
                        <li><a href="#{URLS.URL_EVENTS_LIST}">#{TEXTS.TEXT_LABEL_EVENTS}</a></li>
                        <li><a href="#{URLS.URL_REPORTS_LIST}">#{TEXTS.TEXT_LABEL_REPORTS}</a></li>
                        <li><a href="#{URLS.URL_QUESTIONS_LIST}">#{TEXTS.TEXT_LABEL_QUESTIONS}</a></li>
                        <li><a href="#{URLS.URL_USERS_LIST}">#{TEXTS.TEXT_LABEL_USERS}</a></li>
                    </ul>
                    <div class="clearer"></div>
                </div>
                <div class="clearer"></div>
            </div>
        </div>
        <h:messages globalOnly="true"
                    showSummary="true"
                    showDetail="true"
                    tooltip="true"
                    fatalClass="error strong text-center"
                    errorClass="error strong text-center"
                    infoClass="success strong text-center"
                    warnClass="notice strong text-center"/>
        <div id="splash">
            <ui:insert name="content"/>
        </div>
        <ui:include src="footer.xhtml"/>
    </div>
</h:body>
</html>
