<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="#{TEXTS.TEXT_APPLICATION_NAME}"/>
    <meta name="keywords" content="#{TEXTS.TEXT_APPLICATION_NAME}"/>
    <meta name="author" content="#{TEXTS.TEXT_AUTHOR}"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="#{resource['img:favicon.png']}"/>
    <link rel="icon" type="image/png" href="#{resource['img:favicon.png']}"/>
    <link rel="stylesheet" type="text/css" href="#{resource['style.css']}" media="screen"/>
    <script type="text/javascript" src="#{resource['scripts.js']}"></script>
    <title>#{TEXTS.TEXT_APPLICATION_NAME}</title>
</h:head>

<h:body>
    <div id="site-wrapper">
        <div id="header">
            <ul class="navigation tabbed tabbed-small right">
                <li class="none">&#160;</li>
            </ul>
            <div class="clear"></div>
            <div id="top">
                <div class="left" id="logo">
                    <a href="#{URLS.URL_APPLICATION}" title="#{TEXTS.TEXT_APPLICATION_NAME}">
                        <img src="#{resource['img:logo.png']}" alt="#{TEXTS.TEXT_APPLICATION_NAME}"/>
                    </a>
                </div>
                <div class="left navigation" id="main-nav"></div>
                <div class="clearer"></div>
            </div>
        </div>
        <div id="splash">
            <h:panelGroup rendered="${param.login_error == '1'}">
                <p class="error strong text-center">#{TEXTS.TEXT_LOGIN_ERROR}</p>
            </h:panelGroup>
            <h:panelGroup rendered="${param.login_error == '2'}">
                <p class="notice strong text-center">#{TEXTS.TEXT_LOGIN_SESSION_TIMEOUT}</p>
            </h:panelGroup>

            <h2 class="label label-green">#{TEXTS.TEXT_LOGIN_LABEL}</h2>
            <div class="body text-center">
                <form action=">#{URLS.URL_LOGIN}" method="POST"><fieldset>
                    <p>
                        <label for="j_username">Login: </label>
                        <input type="text" name="j_username" id="j_username"/>
                    </p>
                    <p>
                        <label for="j_password">Hasło: </label>
                        <input type="password" name="j_password" id="j_password"/>
                    </p>
                    <br/>
                    <input type="submit" value="Zaloguj"/>
                    <input type="reset" value="Anuluj"/>
                </fieldset></form>
            </div>
        </div>
        <ui:include src="footer.xhtml"/>
    </div>
</h:body>
</html>
