<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../layout.xhtml">
    <ui:define name="content">
        <h2 class="text-center">#{TEXTS.TEXT_ERROR_PAGE_404}</h2>
    </ui:define>
</ui:composition>
