<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <ui:include src="navigationAdd.xhtml"/>
        <div class="clearer"></div>

        <div class="body">
            <div class="col3 left">
                <h2 class="label label-green"><a href="#{URLS.URL_EVENTS_BUG_LIST}">Ostatnie błędy</a></h2>
                <h:panelGroup rendered="#{empty showEventsShortLists.bugs}"><ul><li>nic jeszcze nie dodano</li></ul></h:panelGroup>
                <h:panelGroup rendered="#{not empty showEventsShortLists.bugs}">
                    <ul>
                        <ui:repeat value="#{showEventsShortLists.bugs}" var="element">
                            <li>
                                <a href="#{URLS.URL_EVENTS_BUG_SHOW}?id=#{element.id}">#{element.title}</a>
                                <span>(<h:outputText value="#{element.openingDate}"><f:convertDateTime pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/></h:outputText>)</span>
                            </li>
                        </ui:repeat>
                    </ul>
                    <p><a href="#{URLS.URL_EVENTS_BUG_LIST}" class="more">pokaż wszystkie &#187;</a></p>
                </h:panelGroup>
            </div>
            <div class="col3-mid left">
                <h2 class="label label-orange"><a href="#{URLS.URL_EVENTS_CHANGE_LIST}">Ostatnie zmiany</a></h2>
                <h:panelGroup rendered="#{empty showEventsShortLists.changes}"><ul><li>nic jeszcze nie dodano</li></ul></h:panelGroup>
                <h:panelGroup rendered="#{not empty showEventsShortLists.changes}">
                    <ul>
                        <ui:repeat value="#{showEventsShortLists.changes}" var="element">
                            <li>
                                <a href="#{URLS.URL_EVENTS_CHANGE_SHOW}?id=#{element.id}">#{element.title}</a>
                                <span>(<h:outputText value="#{element.openingDate}"><f:convertDateTime pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/></h:outputText>)</span>
                            </li>
                        </ui:repeat>
                    </ul>
                    <p><a href="#{URLS.URL_EVENTS_CHANGE_LIST}" class="more">pokaż wszystkie &#187;</a></p>
                </h:panelGroup>
            </div>
            <div class="col3 left">
                <h2 class="label label-blue"><a href="#{URLS.URL_EVENTS_INCIDENT_LIST}">Ostatnie incydenty</a></h2>
                <h:panelGroup rendered="#{empty showEventsShortLists.incidents}"><ul><li>nic jeszcze nie dodano</li></ul></h:panelGroup>
                <h:panelGroup rendered="#{not empty showEventsShortLists.incidents}">
                    <ul>
                        <ui:repeat value="#{showEventsShortLists.incidents}" var="element">
                            <li>
                                <a href="#{URLS.URL_EVENTS_INCIDENT_SHOW}?id=#{element.id}">#{element.title}</a>
                                <span>(<h:outputText value="#{element.openingDate}"><f:convertDateTime pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/></h:outputText>)</span>
                            </li>
                        </ui:repeat>
                    </ul>
                    <p><a href="#{URLS.URL_EVENTS_INCIDENT_LIST}" class="more">pokaż wszystkie &#187;</a></p>
                </h:panelGroup>
            </div>
            <div class="clearer"></div>
        </div>
    </ui:define>
</ui:composition>
