<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    <ul class="navigation tabbed tabbed-small">
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer || viewHelper.loggedUser.tester || viewHelper.loggedUser.pm}">
            <li><a href="#{URLS.URL_EVENTS_BUG_ADD}">#{TEXTS.TEXT_EVENTS_BUG_ADD}</a></li>
        </h:panelGroup>
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer}">
            <li><a href="#{URLS.URL_EVENTS_CHANGE_ADD}">#{TEXTS.TEXT_EVENTS_CHANGE_ADD}</a></li>
        </h:panelGroup>
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer || viewHelper.loggedUser.ceo}">
            <li class="none"><a href="#{URLS.URL_EVENTS_INCIDENT_ADD}">#{TEXTS.TEXT_EVENTS_INCIDENT_ADD}</a></li>
        </h:panelGroup>
    </ul>
</ui:composition>
