<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
<ui:define name="content">
    <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
        <ul class="navigation tabbed tabbed-small">
            <li class="none"><a href="#{URLS.URL_USERS_ADD}">#{TEXTS.TEXT_USERS_ADD}</a></li>
        </ul>
        <div class="clearer"></div>
    </h:panelGroup>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_USERS}</h2>

    <div class="body">
        <h:form id="editUser"><fieldset>
            <p>
                <h:outputLabel for="name" value="Imię:"/>&#160;
                <h:inputText id="name" value="#{user.name}"/>
                <h:message for="name" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="surname" value="Nazwisko:"/>&#160;
                <h:inputText id="surname" value="#{user.surname}"/>
                <h:message for="surname" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="email" value="E-mail:"/>&#160;
                <h:inputText id="email" value="#{user.email}"/>
                <h:message for="email" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="phone" value="Telefon:"/>&#160;
                <h:inputText id="phone" value="#{user.phone}"/>
                <h:message for="phone" errorClass="formTextHint"/>
            </p>
            <br />
            <p>
                <h:outputLabel for="login" value="Login:"/>&#160;
                <h:inputText id="login" value="#{user.login}"/>
                <h:message for="login" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="password" value="Hasło:"/>&#160;
                <h:inputSecret id="password" value="#{user.password}"/>
                <h:message for="password" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="roles" value="Role:"/>&#160;
                <h:selectManyCheckbox styleClass="multi-select" id="roles" value="#{user.roles}">
                    <f:converter converterId="roleEnumConverter"/>
                    <f:selectItems value="#{viewHelper.roles}"/>
                </h:selectManyCheckbox>
                <h:message for="roles" errorClass="formTextHint"/>
            </p>
            <br/>
            <h:commandButton id="save" action="#{addUser.add}" value="Zapisz"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
