<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="../layout.xhtml">
    <ui:define name="content">
        <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
            <ul class="navigation tabbed tabbed-small">
                <li class="none"><a href="#{URLS.URL_USERS_ADD}">#{TEXTS.TEXT_USERS_ADD}</a></li>
            </ul>
            <div class="clearer"></div>
        </h:panelGroup>

        <h2 class="label label-green">#{TEXTS.TEXT_LABEL_USERS}</h2>

        <h:panelGroup rendered="#{not empty showUsersList.users}">
            <div class="body">
                <c:forEach items="${showUsersList.users}" var="users" varStatus="status">
                    <div class="col3 left">
                        <h2 class="label label-blue">#{users.key}</h2>
                        <ul class="items">
                            <ui:repeat value="#{users.value}" var="element">
                                <li>
                                    <a href="#{URLS.URL_USERS_SHOW}?id=#{element.id}">#{element.surname} #{element.name}</a>
                                </li>
                            </ui:repeat>
                        </ul>
                    </div>
                    <h:panelGroup rendered="#{status.count % 3 == 0}">
                        <div class="clearer"></div>
                    </h:panelGroup>
                </c:forEach>
                <div class="clearer"></div>
            </div>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty showUsersList.users}">
            <p class="body">Nie dodano jeszcze żadnego użytkownika.</p>
        </h:panelGroup>
    </ui:define>
</ui:composition>
