<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../layout.xhtml">
<ui:define name="content">
    <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
        <ul class="navigation tabbed tabbed-small">
            <li><a href="#{URLS.URL_USERS_ADD}">#{TEXTS.TEXT_USERS_ADD}</a></li>
            <li><a href="#" onclick="showFields('editUser'); return false;">#{TEXTS.TEXT_USERS_EDIT}</a></li>
            <li class="none">
                <h:form><h:commandLink action="#{deleteUser.delete}" onclick="return confirmDelete();">
                    <h:outputText value="#{TEXTS.TEXT_USERS_DELETE}"/>
                    <f:param name="id" value="#{viewUser.user.id}"/>
                </h:commandLink></h:form>
            </li>
        </ul>
        <div class="clearer"></div>
    </h:panelGroup>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_USERS}</h2>

    <div class="body">
        <h:form id="editUser"><fieldset>
            <p>
                <h:outputLabel for="name" value="Imię:"/>
                <span class="text showed">#{viewUser.user.name}</span>
                <h:inputText styleClass="field hidden" id="name" value="#{viewUser.user.name}"/>
                <h:message for="name" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="surname" value="Nazwisko:"/>
                <span class="text showed">#{viewUser.user.surname}</span>
                <h:inputText styleClass="field hidden" id="surname" value="#{viewUser.user.surname}"/>
                <h:message for="surname" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="email" value="E-mail:"/>
                <span class="text showed"><a href="mailto:#{viewUser.user.email}">#{viewUser.user.email}</a></span>
                <h:inputText styleClass="field hidden" id="email" value="#{viewUser.user.email}"/>
                <h:message for="email" errorClass="formTextHint"/>
            </p>
            <p>
                <h:outputLabel for="phone" value="Telefon:"/>
                <span class="text showed">#{viewUser.user.phone}</span>
                <h:inputText styleClass="field hidden" id="phone" value="#{viewUser.user.phone}"/>
                <h:message for="phone" errorClass="formTextHint"/>
            </p>
            <br />
            <p>
                <h:outputLabel value="Login:"/>
                <span class="text">#{viewUser.user.login}</span>
            </p>
            <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
                <p>
                    <h:outputLabel for="password" value="Hasło:"/>
                    <span class="text showed">***</span>
                    <h:inputSecret styleClass="field hidden" id="password" value="#{viewUser.user.password}"/>
                    <h:message for="password" errorClass="formTextHint"/>
                </p>
            </h:panelGroup>
            <p>
                <h:outputLabel for="roles" value="Role:"/>
                <span class="text showed">
                    <c:forEach items="${viewUser.user.roles}" var="role" varStatus="status">
                        #{role.nameToDisplay},
                    </c:forEach>
                </span>
                <h:selectManyCheckbox styleClass="field hidden multi-select" id="roles" value="#{viewUser.user.roles}">
                    <f:converter converterId="roleEnumConverter"/>
                    <f:selectItems value="#{viewHelper.roles}"/>
                </h:selectManyCheckbox>
                <h:message for="roles" errorClass="formTextHint"/>
            </p>
            <br />
            <h:commandButton styleClass="field hidden" id="save" action="#{viewUser.saveUser}" value="Zapisz"/>
            <h:button styleClass="field hidden" id="cancel" action="#" onclick="showTexts('editUser'); return false;" value="Anuluj"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
