<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <ul class="navigation tabbed tabbed-small">
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer || viewHelper.loggedUser.tester || viewHelper.loggedUser.pm}">
            <li><a href="#" onclick="showFields('editBug'); return false;">#{TEXTS.TEXT_EVENTS_BUG_EDIT}</a></li>
        </h:panelGroup>
        <h:panelGroup rendered="#{viewHelper.loggedUser.pm}">
            <li class="none">
                <h:form><h:commandLink action="#{deleteEvent.deleteBug}" onclick="return confirmDelete();">
                    <h:outputText value="#{TEXTS.TEXT_EVENTS_BUG_DELETE}"/>
                    <f:param name="id" value="#{viewEvent.bug.id}"/>
                </h:commandLink></h:form>
            </li>
        </h:panelGroup>
    </ul>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_BUGS}</h2>

    <div class="body">
        <h:form id="editBug"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel value="ID:"/>
                    <span>#{viewEvent.bug.id}</span>
                </li>
                <li>
                    <h:outputLabel value="Zgłaszający:"/>
                    <span>#{viewHelper.getUser(viewEvent.bug.applicant).displayName}</span>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <span class="text showed">#{viewHelper.getUser(viewEvent.bug.responsible).displayName}</span>
                    <h:selectOneMenu class="field hidden" id="responsible" value="#{viewEvent.bug.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <span class="text showed">#{viewEvent.bug.title}</span>
                    <h:inputText class="field hidden" id="title" value="#{viewEvent.bug.title}"/>
                    <h:message for="title" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel value="Data zgłoszenia:"/>
                    <span>
                        <h:outputText value="#{viewEvent.bug.openingDate}">
                            <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                        </h:outputText>
                    </span>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <pre class="text showed">#{viewEvent.bug.description}</pre>
                    <h:inputTextarea class="field hidden" id="description" rows="9" value="#{viewEvent.bug.description}"/>
                    <h:message for="description" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <span class="text showed">#{viewEvent.bug.status}</span>
                    <h:selectOneMenu class="field hidden" id="status" value="#{viewEvent.bug.status}">
                        <f:selectItems value="#{viewHelper.statusesForBug}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <span class="text showed">#{viewEvent.bug.priority}</span>
                    <h:selectOneMenu class="field hidden" id="priority" value="#{viewEvent.bug.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="project" value="Projekt:"/>
                    <span class="text showed">#{viewEvent.bug.project}</span>
                    <h:selectOneMenu class="field hidden" id="project" value="#{viewEvent.bug.project}">
                        <f:selectItems value="#{viewHelper.projects}"/>
                    </h:selectOneMenu>
                    <h:message for="project" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="projectModule" value="Moduł projektu:"/>
                    <span class="text showed">#{viewEvent.bug.projectModule}</span>
                    <h:selectOneMenu class="field hidden" id="projectModule" value="#{viewEvent.bug.projectModule}">
                        <f:selectItems value="#{viewHelper.projectModules}"/>
                    </h:selectOneMenu>
                    <h:message for="projectModule" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="projectVersion" value="Wersja projektu:"/>
                    <span class="text showed">#{viewEvent.bug.projectVersion}</span>
                    <h:selectOneMenu class="field hidden" id="projectVersion" value="#{viewEvent.bug.projectVersion}">
                        <f:selectItems value="#{viewHelper.projectVersions}"/>
                    </h:selectOneMenu>
                    <h:message for="projectVersion" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="operatingSystem" value="System operacyjny:"/>
                    <span class="text showed">#{viewEvent.bug.operatingSystem}</span>
                    <h:selectOneMenu class="field hidden" id="operatingSystem" value="#{viewEvent.bug.operatingSystem}">
                        <f:selectItems value="#{viewHelper.operatingSystems}"/>
                    </h:selectOneMenu>
                    <h:message for="operatingSystem" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="browser" value="Przeglądarka:"/>
                    <span class="text showed">#{viewEvent.bug.browser}</span>
                    <h:selectOneMenu class="field hidden" id="browser" value="#{viewEvent.bug.browser}">
                        <f:selectItems value="#{viewHelper.browsers}"/>
                    </h:selectOneMenu>
                    <h:message for="browser" errorClass="formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton styleClass="field hidden" id="save" action="#{viewEvent.saveBug}" value="Zapisz"/>
            <h:button styleClass="field hidden" id="cancel" action="#" onclick="showTexts('editBug'); return false;" value="Anuluj"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
