<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <ul class="navigation tabbed tabbed-small">
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer || viewHelper.loggedUser.ceo}">
            <li><a href="#" onclick="showFields('editChange'); return false;">#{TEXTS.TEXT_EVENTS_CHANGE_EDIT}</a></li>
        </h:panelGroup>
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer}">
            <li class="none">
                <h:form><h:commandLink action="#{deleteEvent.deleteChange}" onclick="return confirmDelete();">
                    <h:outputText value="#{TEXTS.TEXT_EVENTS_CHANGE_DELETE}"/>
                    <f:param name="id" value="#{viewEvent.change.id}"/>
                </h:commandLink></h:form>
            </li>
        </h:panelGroup>
    </ul>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_CHANGES}</h2>

    <div class="body">
        <h:form id="editChange"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel value="ID:"/>
                    <span>#{viewEvent.change.id}</span>
                </li>
                <li>
                    <h:outputLabel value="Zgłaszający:"/>
                    <span>#{viewHelper.getUser(viewEvent.change.applicant).displayName}</span>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <span class="text showed">#{viewHelper.getUser(viewEvent.change.responsible).displayName}</span>
                    <h:selectOneMenu class="field hidden" id="responsible" value="#{viewEvent.change.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <span class="text showed">#{viewEvent.change.title}</span>
                    <h:inputText class="field hidden" id="title" value="#{viewEvent.change.title}"/>
                    <h:message for="title" errorClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel value="Data otwarcia:"/>
                    <span>
                        <h:outputText value="#{viewEvent.change.openingDate}">
                            <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                        </h:outputText>
                    </span>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <span class="text showed">#{viewEvent.change.description}</span>
                    <h:inputTextarea class="field hidden" id="description" rows="9" value="#{viewEvent.change.description}"/>
                    <h:message for="description" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <span class="text showed">#{viewEvent.change.status}</span>
                    <h:selectOneMenu class="field hidden" id="status" value="#{viewEvent.change.status}">
                        <f:selectItems value="#{viewHelper.statusesForChange}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <span class="text showed">#{viewEvent.change.priority}</span>
                    <h:selectOneMenu class="field hidden" id="priority" value="#{viewEvent.change.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="startDate" value="Data początku wdrożenia:"/>
                    <span class="text showed">
                        <h:outputText value="#{viewEvent.change.startDate}">
                            <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                        </h:outputText>
                    </span>
                    <h:inputText class="field hidden" id="startDate" value="#{viewEvent.change.startDate}">
                        <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="startDate" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="endDate" value="Data końca wdrożenia:"/>
                    <span class="text showed">
                        <h:outputText value="#{viewEvent.change.endDate}">
                            <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                        </h:outputText>
                    </span>
                    <h:inputText class="field hidden" id="endDate" value="#{viewEvent.change.endDate}">
                         <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                    </h:inputText>
                    <h:message for="endDate" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="acceptance" value="Tryb akceptacji:"/>
                    <span class="text showed">#{viewEvent.change.acceptance}</span>
                    <h:selectOneMenu class="field hidden" id="acceptance" value="#{viewEvent.change.acceptance}">
                        <f:selectItems value="#{viewHelper.acceptances}"/>
                    </h:selectOneMenu>
                    <h:message for="acceptance" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="cancelDescription" value="Plan wycofania:"/>
                    <span class="text showed">#{viewEvent.change.cancelDescription}</span>
                    <h:inputTextarea class="field hidden" id="cancelDescription" rows="9" value="#{viewEvent.change.cancelDescription}"/>
                    <h:message for="cancelDescription" styleClass="error formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="riskDescription" value="Opis ryzyk:"/>
                    <span class="text showed">#{viewEvent.change.riskDescription}</span>
                    <h:inputTextarea class="field hidden" id="riskDescription" rows="9" value="#{viewEvent.change.riskDescription}"/>
                    <h:message for="riskDescription" styleClass="error formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton styleClass="field hidden" id="save" action="#{viewEvent.saveChange}" value="Zapisz"/>
            <h:button styleClass="field hidden" id="cancel" action="#" onclick="showTexts('editChange'); return false;" value="Anuluj"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
