<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
<ui:define name="content">
    <ui:include src="../navigationAdd.xhtml"/>
    <ul class="navigation tabbed tabbed-small">
        <h:panelGroup rendered="#{viewHelper.loggedUser.developer || viewHelper.loggedUser.ceo}">
            <li><a href="#" onclick="showFields('editIncident'); return false;">#{TEXTS.TEXT_EVENTS_INCIDENT_EDIT}</a></li>
        </h:panelGroup>
        <h:panelGroup rendered="#{viewHelper.loggedUser.ceo}">
            <li class="none">
                <h:form><h:commandLink action="#{deleteEvent.deleteIncident}" onclick="return confirmDelete();">
                    <h:outputText value="#{TEXTS.TEXT_EVENTS_INCIDENT_DELETE}"/>
                    <f:param name="id" value="#{viewEvent.incident.id}"/>
                </h:commandLink></h:form>
            </li>
        </h:panelGroup>
    </ul>
    <div class="clearer"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_INCIDENTS}</h2>

    <div class="body">
        <h:form id="editIncident"><fieldset>
            <ul class="columnLeft">
                <li>
                    <h:outputLabel value="ID:"/>
                    <span>#{viewEvent.incident.id}</span>
                </li>
                <li>
                    <h:outputLabel value="Zgłaszający:"/>
                    <span>#{viewHelper.getUser(viewEvent.incident.applicant).displayName}</span>
                </li>
                <li>
                    <h:outputLabel for="responsible" value="Odpowiedzialny:"/>
                    <span class="text showed">#{viewHelper.getUser(viewEvent.incident.responsible).displayName}</span>
                    <h:selectOneMenu styleClass="field hidden" id="responsible" value="#{viewEvent.incident.responsible}">
                        <f:selectItems value="#{viewHelper.users}"/>
                    </h:selectOneMenu>
                    <h:message for="responsible" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="title" value="Tytuł:"/>
                    <span class="text showed">#{viewEvent.incident.title}</span>
                    <h:inputText styleClass="field hidden" id="title" value="#{viewEvent.incident.title}"/>
                    <h:message for="title" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel value="Data otwarcia:"/>
                    <span>
                        <h:outputText value="#{viewEvent.incident.openingDate}">
                            <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                        </h:outputText>
                    </span>
                </li>
                <li>
                    <h:outputLabel for="description" value="Opis:"/>
                    <span class="text showed">#{viewEvent.incident.description}</span>
                    <h:inputTextarea styleClass="field hidden" id="description" rows="9" value="#{viewEvent.incident.description}"/>
                    <h:message for="description" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="status" value="Status:"/>
                    <span class="text showed">#{viewEvent.incident.status}</span>
                    <h:selectOneMenu styleClass="field hidden" id="status" value="#{viewEvent.incident.status}">
                        <f:selectItems value="#{viewHelper.statusesForIncident}"/>
                    </h:selectOneMenu>
                    <h:message for="status" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="priority" value="Priorytet:"/>
                    <span class="text showed">#{viewEvent.incident.priority}</span>
                    <h:selectOneMenu styleClass="field hidden" id="priority" value="#{viewEvent.incident.priority}">
                        <f:selectItems value="#{viewHelper.priorities}"/>
                    </h:selectOneMenu>
                    <h:message for="priority" errorClass="formTextHint"/>
                </li>
            </ul>
            <ul class="columnRight">
                <li>
                    <h:outputLabel for="area" value="Obszar wystąpienia:"/>
                    <span class="text showed">#{viewEvent.incident.area}</span>
                    <h:selectOneMenu styleClass="field hidden" id="area" value="#{viewEvent.incident.area}">
                        <f:selectItems value="#{viewHelper.areas}"/>
                    </h:selectOneMenu>
                    <h:message for="area" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="symptoms" value="Objawy:"/>
                    <span class="text showed">#{viewEvent.incident.symptoms}</span>
                    <h:inputTextarea styleClass="field hidden" id="symptoms" rows="9" value="#{viewEvent.incident.symptoms}"/>
                    <h:message for="symptoms" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="cause" value="Przyczyny:"/>
                    <span class="text showed">#{viewEvent.incident.cause}</span>
                    <h:inputTextarea styleClass="field hidden" id="cause" rows="9" value="#{viewEvent.incident.cause}"/>
                    <h:message for="cause" errorClass="formTextHint"/>
                </li>
                <li>
                    <h:outputLabel for="wayOfRepair" value="Sposób usunięcia:"/>
                    <span class="text showed">#{viewEvent.incident.wayOfRepair}</span>
                    <h:inputTextarea styleClass="field hidden" id="wayOfRepair" rows="9" value="#{viewEvent.incident.wayOfRepair}"/>
                    <h:message for="wayOfRepair" errorClass="formTextHint"/>
                </li>
            </ul>
            <div class="clearer"></div>
            <h:commandButton styleClass="field hidden" id="save" action="#{viewEvent.saveIncident}" value="Zapisz"/>
            <h:button styleClass="field hidden" id="cancel" action="#" onclick="showTexts('editIncident'); return false;" value="Anuluj"/>
        </fieldset></h:form>
    </div>
</ui:define>
</ui:composition>
