<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../layout.xhtml">
    <ui:define name="content">
        <ui:include src="../navigationAdd.xhtml"/>
        <div class="clearer"></div>

        <h2 class="label label-green">#{TEXTS.TEXT_LABEL_CHANGES}</h2>

        <h:panelGroup rendered="#{not empty showEventsLists.changes}">
            <div class="body">
                <h:dataTable id="changes" captionStyle="font-weight:bold" value="#{showEventsLists.changes}" var="element">
                    <h:column>
                        <f:facet name="header">ID</f:facet>
                        #{element.id}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Tytuł</f:facet>
                        <a href="#{URLS.URL_EVENTS_CHANGE_SHOW}?id=#{element.id}" class="strong">#{element.title}</a>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Zgłaszający</f:facet>
                        #{viewHelper.getUser(element.applicant).displayName}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Odpowiedzialny</f:facet>
                        #{viewHelper.getUser(element.responsible).displayName}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Status</f:facet>
                        #{element.status}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Priorytet</f:facet>
                        #{element.priority}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Data rozpoczęcia</f:facet>
                        <h:outputText value="#{element.openingDate}"><f:convertDateTime pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/></h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Data zakończenia</f:facet>
                        <h:outputText value="#{element.endDate}"><f:convertDateTime pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/></h:outputText>
                    </h:column>
                </h:dataTable>
            </div>
        </h:panelGroup>

        <h:panelGroup rendered="#{empty showEventsLists.changes}">
            <p class="body">Nie dodano jeszcze żadnej zmiany.</p>
        </h:panelGroup>
    </ui:define>
</ui:composition>
