<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <ul class="navigation tabbed tabbed-small">
            <li class="none"><a href="#{URLS.URL_QUESTIONS_ADD}">#{TEXTS.TEXT_QUESTIONS_ADD}</a></li>
        </ul>
        <div class="clear"></div>

        <h2 class="label label-green">#{TEXTS.TEXT_LABEL_QUESTIONS}</h2>

        <div class="body">
            <h:form id="addQuestion"><fieldset>
                <h:outputLabel for="title" value="Tytuł:"/>
                <h:inputText id="title" value="#{question.title}"/>
                <h:message for="title" errorClass="formTextHint"/>

                <h:outputLabel for="body" value="Treść:"/>
                <h:inputTextarea id="body" rows="9" value="#{question.body}"/>
                <h:message for="body" errorClass="formTextHint"/>

                <h:outputLabel for="author" value="Autor:"/>
                <h:inputText id="authorView" disabled="true" value="#{viewHelper.loggedUser.displayName}"/>
                <h:selectOneMenu id="author" value="#{question.author}" styleClass="hidden">
                    <f:selectItem itemValue="#{viewHelper.loggedUser.login}"/>
                </h:selectOneMenu>
                <h:message for="author" errorClass="formTextHint"/>

                <br />
                <h:inputHidden id="id" value="#{question.id}"/>
                <h:commandButton id="save" action="#{addQuestion.add}" value="Zapisz"/>
            </fieldset></h:form>
        </div>
    </ui:define>
</ui:composition>
