<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <ul class="navigation tabbed tabbed-small">
            <li class="none"><a href="#{URLS.URL_QUESTIONS_ADD}">#{TEXTS.TEXT_QUESTIONS_ADD}</a></li>
        </ul>
        <div class="clear"></div>

        <h2 class="label label-green">#{TEXTS.TEXT_LABEL_QUESTIONS}</h2>

        <h:panelGroup rendered="#{not empty showQuestionsList.questions}">
            <ul class="body items">
                <ui:repeat value="#{showQuestionsList.questions}" var="element">
                    <li>
                        <a href="#{URLS.URL_QUESTIONS_SHOW}?id=#{element.id}">
                            #{element.title}
                            (#{element.answersCount})
                            <span class="smaller">
                                <h:outputText value="#{element.addDate}">
                                    <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                                </h:outputText>
                            </span>
                            <span class="smaller bold">#{viewHelper.getUser(element.author).displayName}</span>
                        </a>
                    </li>
                </ui:repeat>
            </ul>
        </h:panelGroup>
        <h:panelGroup rendered="#{empty showQuestionsList.questions}">
            <p class="body">Nie zadano jeszcze żadnego pytania.</p>
        </h:panelGroup>
    </ui:define>
</ui:composition>
