<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <ul class="navigation tabbed tabbed-small">
            <li><a href="#{URLS.URL_QUESTIONS_ADD}">#{TEXTS.TEXT_QUESTIONS_ADD}</a></li>
            <li><a href="#" onclick="showFields('editQuestion'); return false;">#{TEXTS.TEXT_QUESTIONS_EDIT}</a></li>
            <h:panelGroup rendered="#{viewHelper.loggedUser.admin}">
                <li class="none">
                    <h:form><h:commandLink action="#{deleteQuestion.delete}" onclick="return confirmDelete();">
                        <h:outputText value="#{TEXTS.TEXT_QUESTIONS_DELETE}"/>
                        <f:param name="id" value="#{viewQuestion.question.id}"/>
                    </h:commandLink></h:form>
                </li>
            </h:panelGroup>
        </ul>
        <div class="clear"></div>

        <h2 class="label label-green">#{viewQuestion.question.title}</h2>

        <div class="body">
            <div class="question">
                <pre>#{viewQuestion.question.body}</pre>
                <h:outputText value="#{viewQuestion.question.addDate}">
                    <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                </h:outputText>
                <span>#{viewHelper.getUser(viewQuestion.question.author).displayName}</span>
            </div>

            <h:form id="editQuestion"><span class="field hidden">
                <h:outputLabel for="answerBody" value="Odpowiedź:"/>
                <h:inputTextarea id="answerBody" rows="9" value="#{viewQuestion.answer.body}"/>
                <h:message for="answerBody" errorClass="formTextHint"/>

                <h:outputLabel for="answerAuthor" value="Autor:"/>
                <h:inputText id="answerAuthorView" disabled="true" value="#{viewHelper.loggedUser.displayName}"/>
                <h:selectOneMenu id="answerAuthor" value="#{viewQuestion.answer.author}" styleClass="hidden">
                    <f:selectItem itemValue="#{viewHelper.loggedUser.login}"/>
                </h:selectOneMenu>
                <h:message for="answerAuthor" errorClass="formTextHint"/>

                <br />
                <h:commandButton id="save" action="#{viewQuestion.save}" value="Zapisz"/>
                <h:button id="cancel" action="#" onclick="showTexts('editQuestion'); return false;" value="Anuluj"/>
            </span></h:form>

            <h:panelGroup rendered="#{not empty viewQuestion.question.answers}">
                <div class="answers">
                    <ui:repeat value="#{viewQuestion.question.answers}" var="element">
                        <div class="answer">
                            <pre>#{element.body}</pre>
                            <h:outputText value="#{element.addDate}">
                                <f:convertDateTime timeZone="CET" pattern="#{CONFIG.CONFIG_DATE_FORMAT}"/>
                            </h:outputText>
                            <span>#{viewHelper.getUser(element.author).displayName}</span>
                        </div>
                    </ui:repeat>
                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{empty viewQuestion.question.answers}">
                <p class="answers">Nie ma jeszcze odpowiedzi na to pytanie.</p>
            </h:panelGroup>
        </div>
    </ui:define>
</ui:composition>
