<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="../layout.xhtml">
    <ui:define name="content">
        <h2 class="label label-green">#{TEXTS.TEXT_ADMIN_LABEL}</h2>
        <div class="body items">
            <div>
                <h2>#{TEXTS.TEXT_ADMIN_HEADER_DICTIONARIES}</h2>
                <a href="#{URLS.URL_ADMIN_DICTIONARIES_EXPORT}">#{TEXTS.TEXT_ADMIN_DICTIONARY_EXPORT}</a>
                <br />
                <h3 class="strong">#{TEXTS.TEXT_ADMIN_DICTIONARY_IMPORT}</h3>
                <h:form id="importDictionaries" enctype="multipart/form-data">
                    <t:inputFileUpload id="uploadedFile"
                                       accept="text/*"
                                       value="#{importDictionaries.file}"
                                       storage="file"/>
                    <h:commandButton value="Załaduj" action="#{importDictionaries.uploadFile}"/>
                </h:form>
                <h3 class="strong">#{TEXTS.TEXT_ADMIN_DICTIONARY_FORMAT_TEXT}</h3>
                #{TEXTS.TEXT_ADMIN_DICTIONARY_FORMAT}
                <br />
                <h3 class="strong">#{TEXTS.TEXT_ADMIN_DICTIONARY_TYPES}</h3>
                <ui:repeat value="#{viewHelper.dictionaryNames}" var="dictionaryName">
                    #{dictionaryName},
                </ui:repeat>
            </div>
            <br />
            <div>
                <h2>#{TEXTS.TEXT_ADMIN_HEADER_USERS}</h2>
                <a href="#{URLS.URL_USERS_ADD}">#{TEXTS.TEXT_USERS_ADD}</a>
            </div>
        </div>
    </ui:define>
</ui:composition>
