<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                template="../layout.xhtml">
<ui:define name="content">
    <ul class="navigation tabbed tabbed-small">
        <li class="none"></li>
    </ul>
    <div class="clear"></div>

    <h2 class="label label-green">#{TEXTS.TEXT_LABEL_REPORTS}</h2>

    <div class="body">
        <pre>
        - wybierz zakres (filtr ze zdarzeń, wielokrotny wybór)
        - wybierz daty (plus zdefiniowane okresy)
        </pre>
    </div>
</ui:define>
</ui:composition>
